
/***********************************
    Here all are initial declaration


    In this stylesheet, all the pixel measurements I have implemented in em.
************************************/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    vertical-align: middle;
}

.full-width{
    width: 100%;


   display: flex;
    justify-content: center;
    /* flex-direction: column;
    align-items: center; */
}

.centerd-boxes{
    width: 1160px;
}

/*******************************
Banner section starts here
********************************/
#banner-bg{
    background-color: #2D25A0;
}

#banner-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4.2em 0 5.2em 0;
}

#banner-left{
    flex-basis: 50%;
}

#banner-left h1{
    font-weight: 700;
    font-size: 4em;
    color: #FFFFFF;
}

#banner-left a{
    padding: 0.625em 1.5em;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    background-color: #E02C6D;
    font-weight: 500;
    transition: all 0.2s ease;
    margin: 1.68em 0 0 0;
}

#banner-left a:hover{
    background-color: #840030
}

#banner-left > a > .fa-arrow-right{
    margin: 0 0 0 0.5em;
}

#banner-right{
    flex-basis: 48%;
}

#banner-right img{
    width: 100%;
    position: relative;
    transition: all 2s ease;

    display: inline-block;
    transform: skew(5deg);
    animation: shake 2s infinite;
    animation-direction: alternate;
}


  @keyframes shake {
    0% {
      transform: skewY(5deg);
    }
    100% {
      transform: skewY(-5deg);
    }
  }


/*******************************
Playeers section starts here
********************************/
#players-profile-bg{
    background-color: white;
}

#players-profile-container{
    padding: 3.43em;
}

#players-profile-container h2{
    font-size: 2em;
    margin: 0 0 2.5em 0;
    text-align: center;
    color: #000000ab;
    position: relative;
}

#players-profile-container h2::before{
    content: "";
    position: absolute;
    background-color: #000000ab;
    padding: 1px;
    width: 1.5em;
    transform: rotate(180deg);
    left: 48%;
    top: 99%;
    top: 108%;
}

#players-profile-container h2::after{
    content: "";
    position: absolute;
    background-color: #000000ab;
    padding: 2px;
    width: 2em;
    transform: rotate(180deg);
    left: 47.3%;
    top: 127%;
}

#players-profile-wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875em;
}

.individual-players{
    padding: 1em;
    box-shadow: 0px 0px 20px 0px #c5bdbd;
}

.individual-players img{
    width: 100%;
}

.individual-players h3{
    font-size: 1.75em;
    font-weight: 700;
    color: #18191F;
    margin: 1em 0 0.7em 0;
    font-weight: 500;
}

.individual-players p{
    font-weight: 400;
    color: #6C6C6C;
    text-align: justify;
}

/*******************************
News section starts here
********************************/
#news-container{
    padding: 3.43em 0;
}

#news-container h2{
    font-size: 2em;
    margin: 0 0 1.5em 0;
    text-align: center;
    position: relative;
}

#news-container h2::before{
    content: "";
    position: absolute;
    background-color: #b7aca5;
    padding: 1px;
    width: 1.5em;
    transform: rotate(180deg);
    left: 48%;
    top: 99%;
}

#news-container h2::after{
    content: "";
    position: absolute;
    background-color: #b7aca5;
    padding: 2px;
    width: 2em;
    transform: rotate(180deg);
    left: 47.3%;
    top: 115%;
}

.news-wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875em;
}

.individual-news{
    box-shadow: 0px 0px 20px 0px #c5bdbd;
    padding: 1em;
}

.individual-news img{
    width: 100%;
}

.individual-news h3{
    font-size: 1em;
    color: #18191F;
    margin: 1em 0 0.7em 0;
}

.individual-news p{
    font-weight: 400;
    color: #6C6C6C;
    text-align: justify;
}

.individual-news a{
    text-decoration: none;
    color: #c72c2c;
    display: inline-block;
    margin: 0.5em 0 0 0;
    transition: all 0.2s ease;
}

.individual-news a:hover{
    color: red;
}

/*******************************
Sponsore section starts here
********************************/
#sponsor-bg{
    background-image: url(img/santaigo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#sponsor-container{
    padding: 3.43em 0 6em 0;
}

#sponsor-container h2{
    font-size: 2em;
    margin: 0 0 3.5em 0;
    text-align: center;
    color: #e2e2e2;
    position: relative;
}

#sponsor-container h2::before{
    content: "";
    position: absolute;
    background-color: #FFFFFF;
    padding: 1px;
    width: 1.5em;
    transform: rotate(180deg);
    left: 48%;
    top: 99%;
    top: 108%;
}

#sponsor-container h2::after{
    content: "";
    position: absolute;
    background-color: #FFFFFF;
    padding: 2px;
    width: 2em;
    transform: rotate(180deg);
    left: 47.3%;
    top: 127%;
}

#sponsor-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.sopnsor-img-wrap{
    flex-basis: 13%;
}
.sopnsor-img-wrap img{
    width: 100%;
}

/*******************************
Footer section starts here
********************************/
#footer-bg{
    background-color: white;
}

#footer-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.43em 0;
}

#footer-wrap img{
    width: 38%;
}

#footer-wrap ul{
    display: flex;
    justify-content: space-between;
    width: 15%;
}

#footer-wrap ul li{
    list-style: none;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #e7e7e8;
    margin: 1.25em 0;
}

#footer-wrap ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

#footer-wrap ul li a i{
    color:#969bab;
    font-size: 1.2em;
    position: relative;
    top: 0.12em;
    left: 0.4em;
}

#youtube{
    left: 0.25em !important;
}

#footer-wrap p{
    font-size: 1.125em;
    font-weight: 400;
    color: #000000;
}




/*******************************
Here I have applied @media query to make this website responsive for Mobile device.
********************************/

@media only screen and (min-width: 310px) and (max-width: 688px) {

/***** Banner Section *****/
    #banner-wrap {
        display: block;
    }

    #banner-left {
        padding: 0 0 6em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #banner-left h1 {
        text-align: center;
        font-size: 30px;
    }

/***** Players Section *****/
    #players-profile-container {
        padding: 3.43em 0;
    }

    #players-profile-container h2 {
        margin: 0 0 1.5em 0;
    }

    #players-profile-container h2::after {
        left: 46.8%;
    }

    #players-profile-wrap {
        padding: 2.4em;
        grid-template-columns: repeat(1, 1fr);
    }

/***** News Section *****/
    #news-container h2::before {
        left: 47.4%;
    }

    #news-container h2::after {
        left: 46.3%;
    }

    .news-wrap {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 1em 0 1em;
    }

/***** Sponsor Section *****/
    #sponsor-container h2::after {
        left: 46.8%;
    }

    #sponsor-wrap {
        padding: 2em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4em 3em;
    }

    #banner-right{
        text-align: center;
    }
    #banner-right img{
        width: 80%;
    }

    #footer-wrap ul {
        width: 40%;
    }
}






































































































